<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <service
      android:name="expo.modules.videowallpaper.VideoWallpaperService"
      android:exported="true"
      android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/video_wallpaper" />
    </service>
  </application>
</manifest>
