<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-feature
    android:name="android.software.live_wallpaper"
    android:required="true" />
  <queries>
    <intent>
      <action android:name="android.service.wallpaper.CHANGE_LIVE_WALLPAPER" />
    </intent>
    <intent>
      <action android:name="android.service.wallpaper.LIVE_WALLPAPER_CHOOSER" />
    </intent>
    <intent>
      <action android:name="android.intent.action.SET_WALLPAPER" />
    </intent>
  </queries>
  <application>
    <service
      android:name="expo.modules.videowallpaper.VideoWallpaperService"
      android:enabled="true"
      android:exported="true"
      android:label="@string/video_wallpaper_name"
      android:permission="android.permission.BIND_WALLPAPER">
      <intent-filter>
        <action android:name="android.service.wallpaper.WallpaperService" />
      </intent-filter>
      <meta-data
        android:name="android.service.wallpaper"
        android:resource="@xml/video_wallpaper" />
    </service>
  </application>
</manifest>
